/* [ START ] Main Rules */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #ECF2FF;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* [ END ] Main Rules */

/* [ START ] Main Section */
main {
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    display: flex;
}
@media screen and (max-width:768px) {
    main {
        flex-direction: column;
        border-radius: 0rem;
    }
}
@media screen and (max-width:768px) {
    main > div { width: 375px }
}
main .result {
    border-radius: 2rem;
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    padding: 2.375rem 3.375rem 3.375rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px) {
    main .result {
        border-radius: 0rem 0rem 2rem 2rem;
        padding: 1.5rem 57px 2.5rem;
    }
}
main .result h1 {
    color: var(--Light-Blue, #CAC9FF);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.1875rem;
}
@media screen and (max-width:768px) {
    main .result h1 {
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }
}
main .result .circle {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background:  linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.75rem;
    /* margin: 0 auto 28px; */
}
@media screen and (max-width:768px) {
    main .result .circle {
        width: 8.75rem;
        height: 8.75rem;
        margin-bottom: 1.5rem;
}
}
main .result .circle h2 {
    color: #FFF;
    font-size: 4.5rem;
    font-weight: 800;
}
@media screen and (max-width:768px) {
    main .result .circle h2 {
        font-size: 3.5rem;
    }
}
main .result .circle span {
    color: #CAC9FF;
    font-size: 1.125rem;
    font-weight: 700;
}
@media screen and (max-width:768px) {
    main .result .circle span {
        font-size: 1rem;
    }
}
main .result h3{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.875rem;
}
@media screen and (max-width:768px) {
    main .result h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}
main .result p{
    color: #CAC9FF;
    font-size: 1.125rem;
    font-weight: 500;
    max-width: 16.25rem;
}
@media screen and (max-width:768px) {
    main .result p {
        font-size: 1rem;
    }
}
main .details {
    padding: 2.375rem 2.5rem 2.875rem;
}
@media screen and (max-width:768px) {
    main .details {
        padding: 1.5rem 1.875rem 1.875rem;
    }
}
main .details > p {
    color: #303B59;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}
@media screen and (max-width:768px) {
    main .details > p {
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }
}
main .details .item {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.75rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55 
}
@media screen and (max-width:768px) {
    main .details .item {
        width: 100%;
        height: 56px;
    }
}
main .details .item:nth-of-type(2) { background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E }
main .details .item:nth-of-type(3) { background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F }
main .details .item:last-of-type {background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6 }
main .details .item:not(:last-of-type) { margin-bottom: 1rem }
main .details .item .title {
    display: flex;
    justify-content: flex-start;
}
main .details .item .title p {
    color: var(--Red, #F55);
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 1.75rem;
}
@media screen and (max-width:768px) {
    main .details .item .title p {
        font-size: 1rem;
        margin-left: 0.75rem;
    }
}
main .details .item:nth-of-type(2) .title p { color: #FFB21E }
main .details .item:nth-of-type(3) .title p { color: #00BB8F }
main .details .item:last-of-type .title p { color: #1125D6 }
main .details .item h4 {
    color: #303B59;
    font-size: 1.125rem;
    font-weight: 700;
}
@media screen and (max-width:768px) {
    main .details .item h4 {
        font-size: 1rem;
    }
}
main .details .item h4 span {
    color: #303B59;
    opacity: 0.5;
}
main .details button {
    color: #FFF;
    margin-top: 2.5625rem;
    padding: 1rem 6.625rem 1.0625rem;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 8rem;
    background: #303B59;
    border: none;
}
@media screen and (max-width:768px) {
    main .details button {
        margin-top: 1.5rem;
        padding: 1.0625rem 7.5rem;
    }
}
main .details button:hover {
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    cursor: pointer;
}
/* [ END ] Main Section */